/* Styles global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Grids */

.col-xs-9 {
    width: 83.33333333333334%;
}

.col-xs-11 {
    width: 91.66666666666666%;
}

.col-xs-12 {
    width: 100%;
}

/* Styles for header */

header {
    height: 50px;
    background-color: #FAB29E;
    padding-left: 20px;
    color: #fff;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.container {
    margin: auto;
}

h1 {
    float: left;
    margin: 5px;
}

header .container {
    display: table;
}

/* Styles for nav */

#menu-bar {
    display: none;
}

label {
    float: right;
    cursor: pointer;
    margin: 8px 0;
}

label::after {
    font-family: FontAwesome;
    font-size: 2em;
    color: #fff;
    padding: 0 .25em;
    content: '\f0c9';
}

.menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    font-size: 1.5rem;
    background-color: rgba(248, 212, 212, 0.8);
    transition: all 0.5s;
    transform: translateX(-100%);
}

.menu a {
    display: block;
    color: #fff;
    font-weight: 800;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5)
}

.menu a:hover {
    background-color: #FAB29E;
}

#menu-bar:checked ~ .menu {
    transform: translateX(0%);
}

/* Styles for first section */

section {
    margin-bottom: 25px;
}

.banner {
    height: 300px;
    margin-top: 50px;
    position: relative;
}

[alt="bunny"] {
    width: 100%;
    height: 100%;
}

.banner .container {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
}

.title-banner{
  font-size: 4rem;
}

.paragraph-banner {
    font-size: 2rem;
    padding-bottom: 10px; 
}

.banner a {
    border: 1.5px solid rgb(179, 250, 158);
    text-decoration: none;
    font-size: 1.5em;
    color: #fff;
    padding: 5px;
}

/* Stiles for second section */

.container-section {
    display: inline-block;
}

.container-section h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.container-section p {
    font-size: 1rem;
    margin-bottom: 10px;
    text-align: justify;
}

.container-section .my-bunnys {
    margin-bottom: 5px;
    font-weight: bold;
}

.container-section .cell {
    margin-bottom: 5px;
}

.container-section .mail{
    margin-bottom: 5px;
    color: rgba(19, 19, 224, 0.959);
}

button {
    color: #fff;
    border: 1px solid #92D082;
    background-color: #6BBA55;
    padding: 0.6rem 1.5rem;
    font-size: 1.25rem;
    font-weight: 700;
    border-radius: 0.3rem;
    outline: none;
    margin-top: 10px;
    margin-bottom: 30px;
    cursor: pointer;
}

button::after {
    content: '\f101';
    font-family: FontAwesome;
    font-size: 1em;
    color: #fff;
    padding-left: 10px;
}

button:active {
    background: #6BBA55;
    border: 2px solid rgb(41, 112, 22);
    border-radius: 0.5rem;
    outline: 0;
}

/* Styles for third section */

.container-img {
    width: 100%;
    height: 470px;
    border: 4px solid #FBE6CE;
    margin-bottom: 15px; 
}

.container-img img {
    width: 100%;
    height: 300px;
}

.container-img  input {
    color: #fff;
    border: 1px solid #92D082;
    background-color: #6BBA55;
    outline: none;
    padding: 0.6rem 1.5rem;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 0.3rem;
    margin-top: 10px;
    margin-bottom: 20px;
}

.container-img  input:active {
    background: #6BBA55;
    border: 2px solid rgb(41, 112, 22);
    border-radius: 0.5rem;
    outline: 0;
}

/* Styles for footer */

.container-footer {
    width: 100%;
    background-color: #FAB29E; 
}

.icons-white {
    display: inline-block;
    border-radius: 100%;
    font-size: 30px;
    text-align: center;
    padding: 10px;
}

.icons-white i {
    color: #fff;
    padding-left: 10px;
}

.icons-white i:hover {
    color: #FBF7B8;
}

hr {
    width: 100%;
    height: 2px;
    background-color: #fff;
    border: none;
}

.span {
    color: #fff;
    font-size: 18px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

/* Styles for media queries */

/* Vista tablet */

@media (min-width:768px) {
    /* Grids */
    
    .col-sm-4 {
        width: 33.33333333333333%; 
    }
    
    .col-sm-7 {
        width: 58.333333333333336%;
    }

    /* Styles for banner */

    .banner {
        height: 400px;
    }

    .title-banner {
        font-size: 5rem;
    }
     
    .paragraph-banner {
        font-size: 3rem;
    }
     
    .banner a {
      font-size: 2.5em;
    }

    /* Style for first section */

    .section {
        width: 100%;
    }

    .row::before, .row:after {
        content: " ";
        display: table;
    }
    
    .row::after {
        clear: both;
    }
    
    [class*='col-sm-'] {
        float: left; 
    }

    .container-section {
        margin-right: 25px;
    }

    /* Style for third section */

    .container-img img {
        height: 330px;
    }
}
    
/* Vista desk */

@media (min-width:992px) {
    /* Grids */

    .col-md-3 {
        width: 25%; 
    }

    .col-md-4 {
        width: 33%; 
    }
    
    .col-md-8 {
        width: 66.66666666666666%;
    }

    /* Styles for nav */

    label {
        display: none;
    }

    .menu {
        position: static;
        width: auto;
        height: auto;
        transform: translate(0);
        float: right;
        display: flex;
        font-size: 1rem;
        background-color: #FAB29E;
    }

    .menu a:hover {
        background-color: #FBE6CE;
    }

    .menu a {
        border-bottom: 0;
    }

    /* Styles for banner */
    
    .banner {
        height: 500px;
    }
    
    /* Style for first section */
    
    .section-third  {
        width: 100%;
        height: 500px;
    }

    .row::before, .row:after {
        content: " ";
        display: table;
    }
        
    .row::after {
        clear: both;
    }
        
    [class*='col-md-'] {
        float: left; 
    }
        
    /* Style for third section */

    .container-img {
        margin-left: 2px;
    }
    
    .container-img img {
       height: 250px;
    }    

    .container-img h2 {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .container-img p {
        margin-bottom: 10px;
        text-align: justify;
    }
}
