/* Styles global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Grids */

.col-xs-4 {
    width: 33.33333333333333%; 
}

.col-xs-7 {
    width: 58.333333333333336%;
}

.col-xs-11 {
    width: 91.66666666666666%;
}

.col-xs-12 {
    width: 100%;
}

/* Styles for header */

header {
    height: 50px;
    background-color: #FAB29E;
    padding-left: 20px;
    color: #fff;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.container {
    margin: auto;
}

h1 {
    float: left;
    margin: 5px;
}

header .container {
    display: table;
}

/* Styles for nav */

#menu-bar {
    display: none;
}

label {
    float: right;
    cursor: pointer;
    margin: 8px 0;
}

label::after {
    font-family: FontAwesome;
    font-size: 2em;
    color: #fff;
    padding: 0 .25em;
    content: '\f0c9';
}

.menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    font-size: 1.5rem;
    background-color: rgba(248, 212, 212, 0.8);
    transition: all 0.5s;
    transform: translateX(-100%);
}

.menu a {
    display: block;
    color: #fff;
    font-weight: 800;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5)
}

#menu-bar:checked ~ .menu {
    transform: translateX(0%);
}

/* Styles for first section */

section {
    margin-bottom: 25px;
}

.banner {
    height: 300px;
    margin-top: 50px;
    position: relative;
}

[alt="bunny"] {
    width: 100%;
    height: 100%;
}

.banner .container {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
}

.title-banner{
  font-size: 4rem;
}

.paragraph-banner {
    font-size: 2rem;
    padding-bottom: 10px; 
}

.banner a {
    border: 1.5px solid rgb(179, 250, 158);
    text-decoration: none;
    font-size: 1.5em;
    color: #fff;
    padding: 5px;
}

/* Stiles for second section */

.container-section {
    display: inline-block;
}

.container-section h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.container-section p {
    font-size: 1rem;
    margin-bottom: 10px;
    text-align: justify;
}

.container-section .my-bunnys {
    margin-bottom: 5px;
    font-weight: bold;
}

.container-section .cell {
    margin-bottom: 5px;
}

.container-section .mail{
    margin-bottom: 5px;
    color: rgba(19, 19, 224, 0.959);
}

button {
    color: #fff;
    border: 1px solid #92D082;
    background-color: #6BBA55;
    padding: 0.6rem 1.5rem;
    font-size: 1.25rem;
    font-weight: 700;
    border-radius: 0.3rem;
    outline: 0;
    margin-top: 10px;
    margin-bottom: 30px;
    cursor: pointer;
}

button::after {
    content: '\f101';
    font-family: FontAwesome;
    font-size: 1em;
    color: #fff;
    padding-left: 10px;
}

/* Styles for third section */

.container-img {
    width: 100%;
    height: 450px;
    border: 4px solid #FBE6CE;
    margin-bottom: 15px; 
}

.container-img img {
    width: 100%;
    height: 300px;
}

.container-img  input {
    color: #fff;
    border: 1px solid #92D082;
    background-color: #6BBA55;
    padding: 0.6rem 1.5rem;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 0.3rem;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* Styles for footer */

.container-footer {
    width: 100%;
    margin-bottom: 15px; 
    background-color: #FAB29E; 
}

.icons-white {
    display: inline-block;
    border-radius: 100%;
    font-size: 30px;
    text-align: center;
    padding: 10px;
}

.icons-white i {
    color: #fff;
    padding-left: 10px;
}

.icons-white hr {
    background-color: #fff;
}

.span {
    color: #fff;
    font-size: 18px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}